.App {
  background-image: url(./assets/RickMorty.jpg);
  background-position: center;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  min-width: 100vh;
  justify-content: space-around;
  padding: 100px 0 40px 0;
}

@media (max-width: 767px) {
  .App {
    background-size: 100%;
    background-position: top;
    height: 50vh;
    min-width: 50vh;
  }
}
